@media screen and (min-width:1300px){
body { font-size: 17px; line-height: 1.9; }
h1 { font-size: 27px; }
h2 { font-size: 25px; }
h3 { font-size: 23px; }
h4 { font-size: 21px; }
h5 { font-size: 19px; }
form input, form select { font-size: 18px; }
.blog-featured h1, .blog h1, .contact h1, .page-header h1, .item-page h2, .item-page h1 { font-size: 23px; }
.moduletable h3, .moduletable_menu h3 { font-size: 21px; }
.blog-featured h2, .blog h2 { font-size: 19px; }
#topmenu .menu li { float: left; margin-right: 30px; }
#topright .menu li { float: left; margin-left: 30px; }
#copyright { margin-top: 10px; }
#designer { margin-top: 10px; }
}
@media screen and (min-width:1300px){
ul.actions { float: right; margin-top: -23px; }
.item-page ul.actions { float: right; margin-top: -46px; }
}
@media screen and (min-width:1300px){
#navigation { margin-top: 25px; }
#toolbar .menu a { font-size: 18px; }
#toolbar .menu li { margin-left: 49px; }
#toolbar .menu li li a { font-size: 17px; }
#toolbar .menu li li li a { font-size: 17px; }
#toolbar .menu ul { width: 215px; }
#toolbar .menu ul li { width: 195px; }
}
@media screen and (min-width:1300px){
#header-inner { width: 1240px; padding: 0px 15px; }
#top-inner, #banner-inner, #advert-inner, #upper-inner, #body-inner, #bottom-inner, #footer-inner, #copyright-inner { width: 1240px; }
#body-right-only { float: left; width: 880px; }
#body-left-only { float: right; width: 880px; }
#body-left-right { float: left; width: 730px; margin-left: 30px; }
#body-right-center { float: left; width: 910px; }
#body-left-center { float: right; width: 910px; }
#body-left-right-center { float: left; width: 680px; margin-left: 30px; }
#right-right-only { float: right; width: 330px; }
#left-left-only { float: left; width: 330px; }
#left-left-right { float: left; width: 225px; }
#right-left-right { float: right; width: 225px; }
#right-right-center { float: right; width: 300px; }
#left-left-center { float: left; width: 300px; }
#left-left-right-center { float: left; width: 250px; }
#right-left-right-center { float: right; width: 250px; }
}
@media screen and (min-width:1300px){
.centerright #layer-right-center { float: left; width: 630px; }
.centerright #center-right-center { float: right; width: 250px; }
.centerleft #layer-right-center { float: right; width: 630px; }
.centerleft #center-right-center { float: left; width: 250px; }
.centerright #layer-left-center { float: left; width: 630px; }
.centerright #center-left-center { float: right; width: 250px; }
.centerleft #layer-left-center { float: right; width: 630px; }
.centerleft #center-left-center { float: left; width: 250px; }
.centerright #layer-left-right-center { float: left; width: 400px; }
.centerright #center-left-right-center { float: right; width: 250px; }
.centerleft #layer-left-right-center { float: right; width: 400px; }
.centerleft #center-left-right-center { float: left; width: 250px; }
.centerright #layer-center-only { float: left; width: 960px; }
.centerright #center-center-only { float: right; width: 250px; }
.centerleft #layer-center-only { float: right; width: 960px; }
.centerleft #center-center-only { float: left; width: 250px; }
}
@media screen and (min-width:1300px){
#user-right-only .user99 .full, #user-left-only .user99 .full { float: left; width: 880px; }
#user-right-only .user49 .first, #user-left-only .user49 .first { float: left; width: 430px; }
#user-right-only .user49 .second, #user-left-only .user49 .second { float: right; width: 430px; }
#user-right-only .user33 .first, #user-left-only .user33 .first { float: left; width: 280px; }
#user-right-only .user33 .second, #user-left-only .user33 .second { float: left; width: 280px; margin-left: 20px; }
#user-right-only .user33 .third, #user-left-only .user33 .third { float: right; width: 280px; }
#user-left-right .user33 .first { float: left; width: 230px; }
#user-left-right .user33 .second { float: left; width: 230px; margin-left: 20px; }
#user-left-right .user33 .third { float: right; width: 230px; }
#user-left-right .user49 .first { float: left; width: 355px; }
#user-left-right .user49 .second { float: right; width: 355px; }
#user-left-right .user99 .full { float: left; width: 730px; }
#user-wide .user99 .full { float: left; width: 1240px; }
#user-wide .user49 .first { float: left; width: 610px; }
#user-wide .user49 .second { float: right; width: 610px; }
#user-wide .user33 .first { float: left; width: 400px; }
#user-wide .user33 .second { float: left; width: 400px; margin-left: 20px; }
#user-wide .user33 .third { float: right; width: 400px; }
#user-center-only .user99 .full { float: left; width: 1240px; }
#user-center-only .user49 .first { float: left; width: 610px; }
#user-center-only .user49 .second { float: right; width: 610px; }
#user-center-only .user33 .first { float: left; width: 400px; }
#user-center-only .user33 .second { float: left; width: 400px; margin-left: 20px; }
#user-center-only .user33 .third { float: right; width: 400px; }
#user-right-center .user99 .full, #user-left-center .user99 .full { float: left; width: 910px; }
#user-right-center .user49 .first, #user-left-center .user49 .first { float: left; width: 445px; }
#user-right-center .user49 .second, #user-left-center .user49 .second { float: right; width: 445px; }
#user-right-center .user33 .first, #user-left-center .user33 .first { float: left; width: 290px; }
#user-right-center .user33 .second, #user-left-center .user33 .second { float: left; width: 290px; margin-left: 20px; }
#user-right-center .user33 .third, #user-left-center .user33 .third { float: right; width: 290px; }
#user-left-right-center .user99 .full { float: left; width: 680px; }
#user-left-right-center .user49 .first { float: left; width: 330px; }
#user-left-right-center .user49 .second { float: right; width: 330px; }
#user-left-right-center .user33 .first { float: left; width: 214px; }
#user-left-right-center .user33 .second { float: left; width: 214px; margin-left: 19px; }
#user-left-right-center .user33 .third { float: right; width: 214px; }
}
@media screen and (min-width:1300px){
.advert99 .full, .footer99 .full, .upper99 .full, .bottom99 .full { width: 1240px; float: left; }
.advert49 .first, .footer49 .first, .upper49 .first, .bottom49 .first { float: left; width: 610px; }
.advert49 .second, .footer49 .second, .upper49 .second, .bottom49 .second { float: right; width: 610px; }
.advert33 .first, .footer33 .first, .upper33 .first, .bottom33 .first { float: left; width: 400px; }
.advert33 .second, .footer33 .second, .upper33 .second, .bottom33 .second { float: left; width: 400px; margin-left: 20px; }
.advert33 .third, .footer33 .third, .upper33 .third, .bottom33 .third { float: right; width: 400px; }
.advert24 .first, .footer24 .first, .upper24 .first, .bottom24 .first { float: left; width: 295px; }
.advert24 .second, .footer24 .second, .upper24 .second, .bottom24 .second { float: left; width: 295px; margin-left: 20px; }
.advert24 .third, .footer24 .third, .upper24 .third, .bottom24 .third { float: left; width: 295px; margin-left: 20px; }
.advert24 .forth, .footer24 .forth, .upper24 .forth, .bottom24 .forth { float: right; width: 295px; }
.advert19 .first, .footer19 .first, .upper19 .first, .bottom19 .first { float: left; width: 232px; }
.advert19 .second, .footer19 .second, .upper19 .second, .bottom19 .second { float: left; width: 232px; margin-left: 20px; }
.advert19 .third, .footer19 .third, .upper19 .third, .bottom19 .third { float: left; width: 232px; margin-left: 20px; }
.advert19 .forth, .footer19 .forth, .upper19 .forth, .bottom19 .forth { float: left; width: 232px; margin-left: 20px; }
.advert19 .fifth, .footer19 .fifth, .upper19 .fifth, .bottom19 .fifth { float: right; width: 232px; }
}
@media screen and (min-width:1300px){
#body-right-only .cols-3 .column-1, #body-left-only .cols-3 .column-1 { width: 280px; float: left; }
#body-right-only .cols-3 .column-2, #body-left-only .cols-3 .column-2 { width: 280px; float: left; margin-left: 20px; }
#body-right-only .cols-3 .column-3, #body-left-only .cols-3 .column-3 { width: 280px; float: right; }
#body-right-only .cols-2 .column-1, #body-left-only .cols-2 .column-1 { width: 430px; float: left; }
#body-right-only .cols-2 .column-2, #body-left-only .cols-2 .column-2 { width: 430px; float: right; }
#body-right-only .cols-1 .column-1, #body-left-only .cols-1 .column-1 { width: 880px; float: left; }
#body-right-only .cols-4 .column-1, #body-left-only .cols-4 .column-1 { width: 205px; float: left; }
#body-right-only .cols-4 .column-2, #body-left-only .cols-4 .column-2 { width: 205px; float: left; margin-left: 20px; }
#body-right-only .cols-4 .column-3, #body-left-only .cols-4 .column-3 { width: 205px; float: left; margin-left: 20px; }
#body-right-only .cols-4 .column-4, #body-left-only .cols-4 .column-4 { width: 205px; float: right; }
#body-left-right .cols-3 .column-1 { width: 230px; float: left; }
#body-left-right .cols-3 .column-2 { width: 230px; float: left; margin-left: 20px; }
#body-left-right .cols-3 .column-3 { width: 230px; float: right; }
#body-left-right .cols-2 .column-1 { width: 355px; float: left; }
#body-left-right .cols-2 .column-2 { width: 355px; float: right; }
#body-left-right .cols-1 .column-1 { width: 730px; float: left; }
#body-wide .cols-5 .column-1 { width: 232px; float: left; }
#body-wide .cols-5 .column-2 { width: 232px; float: left; margin-left: 20px; }
#body-wide .cols-5 .column-3 { width: 232px; float: left; margin-left: 20px; }
#body-wide .cols-5 .column-4 { width: 232px; float: left; margin-left: 20px; }
#body-wide .cols-5 .column-5 { width: 232px; float: right; }
#body-wide .cols-4 .column-1 { width: 295px; float: left; }
#body-wide .cols-4 .column-2 { width: 295px; float: left; margin-left: 20px; }
#body-wide .cols-4 .column-3 { width: 295px; float: left; margin-left: 20px; }
#body-wide .cols-4 .column-4 { width: 295px; float: right; }
#body-wide .cols-3 .column-1 { width: 400px; float: left; }
#body-wide .cols-3 .column-2 { width: 400px; float: left; margin-left: 20px; }
#body-wide .cols-3 .column-3 { width: 400px; float: right; }
#body-wide .cols-2 .column-1 { width: 610px; float: left; }
#body-wide .cols-2 .column-2 { width: 610px; float: right; }
#body-wide .cols-1 .column-1 { width: 1240px; float: left; }
#body-right-center .cols-1 .column-1, #body-left-center .cols-1 .column-1 { width: 630px; float: left; }
#body-right-center .cols-2 .column-1, #body-left-center .cols-2 .column-1 { width: 305px; float: left; }
#body-right-center .cols-2 .column-2, #body-left-center .cols-2 .column-2 { width: 305px; float: right; }
#body-center-only .cols-1 .column-1 { width: 960px; float: left; }
#body-center-only .cols-2 .column-1 { width: 470px; float: left; }
#body-center-only .cols-2 .column-2 { width: 470px; float: right; }
#body-center-only .cols-3 .column-1 { width: 306px; float: left; }
#body-center-only .cols-3 .column-2 { width: 306px; float: left; margin-left: 21px; }
#body-center-only .cols-3 .column-3 { width: 306px; float: right; }
#body-center-only .cols-4 .column-1 { width: 225px; float: left; }
#body-center-only .cols-4 .column-2 { width: 225px; float: left; margin-left: 20px; }
#body-center-only .cols-4 .column-3 { width: 225px; float: left; margin-left: 20px; }
#body-center-only .cols-4 .column-4 { width: 225px; float: right; }
#body-left-right-center .cols-1 .column-1 { width: 400px; float: left; }
}
@media screen and (min-width:1300px){
#inside-right-only .inside49 .first, #inside-left-only .inside49 .first { float: left; width: 430px; }
#inside-right-only .inside49 .second, #inside-left-only .inside49 .second { float: right; width: 430px; }
#inside-right-only .inside99 .full, #inside-left-only .inside99 .full { float: left; width: 880px; }
#inside-left-right .inside49 .first { float: left; width: 355px; }
#inside-left-right .inside49 .second { float: right; width: 355px; }
#inside-left-right .inside99 .full { float: left; width: 730px; }
#inside-wide .inside49 .first { float: left; width: 610px; }
#inside-wide .inside49 .second { float: right; width: 610px; }
#inside-wide .inside99 .full { float: left; width: 1240px; }
#inside-right-center .inside49 .first, #inside-left-center .inside49 .first { float: left; width: 305px; }
#inside-right-center .inside49 .second, #inside-left-center .inside49 .second { float: right; width: 305px; }
#inside-right-center .inside99 .full, #inside-left-center .inside99 .full { float: left; width: 630px; }
#inside-left-right-center .inside49 .first { float: left; width: 190px; }
#inside-left-right-center .inside49 .second { float: right; width: 190px; }
#inside-left-right-center .inside99 .full { float: left; width: 400px; }
#inside-center-only .inside49 .first { float: left; width: 470px; }
#inside-center-only .inside49 .second { float: right; width: 470px; }
#inside-center-only .inside99 .full { float: left; width: 960px; }
}